.loginPage {
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.089)), url(/img/requirements.png) ;
  /* background-image:  url(../../assets/main-bg.jpg) ; */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* background-image: url(../../assets/dark-honeycomb.png);
  background-repeat: repeat; */
}

.loginForm_custom {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(31, 31, 35, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.passwordIcon {
  position: absolute;
  color: #1d1d1c;
  top: 47.5%;
  right: 12%;

}
.passwordIcon:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.link a {
  color: var(--clr-primary);
  text-decoration: none;
}