.aboutPage {
  background-color: var(--clr-secondary);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.089)),url(/img/contoh.jpg);
}

.aboutPage h1{
  font-family: var(--ff-game);
}

.background {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(31, 31, 35, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 80vw;
}

.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.125);
  /* border-left: 0.175rem solid white; */
  height: 500px;
  /* position: absolute; */
  /* left: 50%; */
  margin-left: 4rem;
  /* top: 0; */
}

.playerWrapper {
  margin-left: 2rem;
}

/* .videoPlayer {
  width: auto;
  height: 50%;
} */

@media only screen and (max-width: 900px) {
  .vl {
    display: none;
  }
  .playerWrapper {
    margin-left: 0rem;
  }
}