.mainPage {
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.836),rgba(0, 0, 0, 0.253)), url(/img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* == header--hero-section == */
.mainPage h1 {
  font-family: var(--ff-game);
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 2px 5px var(--clr-secondary);
}
.mainPage h2 {
  text-transform: capitalize;
  font-size: 2rem;
}

.customButton {
  padding: 8px 10px;
  border-radius: 8px ;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: var(--clr-primary);
  border: none;
  color: black;
}

.customButton:hover {
  background-color: var(--clr-primary-accent);
}

@keyframes updown {
  0% {
    opacity :0;
    transform: translateY(20px);
  }
  100% {
    opacity : 1;
    transform: translateY(0);
  }
}

.iconAnimation {
  animation: updown 1s infinite alternate;
  color: white ; 
  font-size: 2rem;
}

@keyframes topText{
  0% {
    opacity :0;
    transform: translateY(-10px);
  }
  100% {
    opacity : 1;
    transform: translateX(0);
  }
}
@keyframes downText{
  0% {
    opacity :0;
    transform: translateY(10px);
  }
  100% {
    opacity : 1;
    transform: translateX(0);
  }
}

.textAnimation_a {
  animation: topText 2s;
}
.textAnimation_b {
  animation: downText 2s;
}


.typing {
  width: 32ch;
  animation: typing 1s steps(32);
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@media only screen and (max-width: 600px) {
  .mainPage h1 {
    
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 5px var(--clr-secondary);
  }
  .mainPage h2 {
    text-transform: capitalize;
    font-size: 1rem;
  }
}